.heading{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}

#SN{
    color: black;
    text-align: center;
    background-color: brown;
    margin-left: 40%;
}